# Project-specific configurations
project_id   = "dryruns"
region       = "southamerica-west1"
zone         = "southamerica-west1-a"

# Instance configuration
instance_name = "frontend-instance"
machine_type  = "n1-standard-2"

# Disk configuration
disk_name    = "frontend-disk"
disk_size_gb = 200
