# Project-specific configurations
project_id   = "dryruns"
region       = "southamerica-west1"
zone         = "southamerica-west1-a"

# Instance configuration
instance_name = "frontend-instance-1"
machine_type  = "e2-micro"

# Disk configuration
disk_name    = "frontend-disk-1"
disk_size_gb = 180

# Network and Subnet

network = "projects/dryruns/global/networks/my-custom-vpc"
subnet  = "projects/dryruns/regions/southamerica-west1/subnetworks/custom-subnet-santiago"
